<form action="/posts" method="post">
    <input type="hidden" name = "idPost" readonly value={{id}}>
    <textarea name="editPost" id="editPost" cols="30" rows="10">{{editableText}}</textarea>
    <input type="submit">
</form>